<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.roseik.multiple_geofences">
    <application>
        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />


        <!-- Service for handling geofence events -->
        <service
            android:name=".GeofenceService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".RebootJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>
    <!-- Permissions required for geofencing -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

</manifest>
